@charset    "UTF-8";


*{
    --cor01: #3c096c;
    --cor02: #5a189a;
    --cor03: #7b2cbf;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:cornsilk;
}
header{
    background-image: linear-gradient(to bottom, var(--cor01),var(--cor03));
    text-align: center;
    padding: 60px;
    color: white;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.562);
    
}
header > h1{
    font-size: 3em;
}
header > p{
    margin-top: 30px;    
    font-size: 1.5em;
}
nav{
    background-color: var(--cor03);
    padding: 5px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.192);
}
nav > a {
    
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding-left: 2px;
    padding-right: 2px;
}
nav > a:hover{
    background-color: aqua;
    color: black;
    padding:  3px;
    border-radius: 2px;
    transition-duration: .3s;
}
main{
    margin: auto;
    background-color: white;
    max-width: 800px;
    min-width: 350px;
    padding-top: 5px;
    text-indent: 15px;
}
div > p{
    padding: 10px;
}
div > p{
    text-align: justify;
}
footer{
    font-size: 1em;
    background-color: #5a189a;
    text-align: center;
    color: white;
    padding: 3px;
}